div.blowup {
  animation: blowup 1s;
  display: block;
}
.center {
  transform: translate(-50%, -50%);
  z-index: 101;
}
div.shrink {
  animation: shrink 1s;
}
.succ-layer,
.friend-layer,
.share-layer,
.perfect-resume-layer {
  display: none;
}
.share-layer {
  transform: translate(-50%, -50%);
  z-index: 100;
}
div.shows {
  animation: show 1s;
  display: block;
}
.share-btn {
  display: none;
}
@-webkit-keyframes blowup {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@-moz-keyframes blowup {
  0% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(0);
  }
  100% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@-webkit-keyframes shrink {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes shrink {
  0% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes show {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
}
div.bouncein {
  display: block;
  -webkit-animation: bouncein 1s .2s ease both;
  -moz-animation: bouncein 1s .2s ease both;
}
@-webkit-keyframes bouncein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bouncein {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
